.chartCtn {
    color: aliceblue;
    display: flex;
    justify-content: center;
    width: 100%
}

.chartl {
    flex-direction: column;
    max-height: 400px;
    display: flex;
    align-items: center;
    min-width: 400px;
}

.loadHide {
    display: none
}