.chartCtn {
    color: aliceblue;
    display: flex !important;
    justify-content: center !important;
    width: 100%
}

.chartl {
    flex-direction: column !important;
    max-height: 400px;
    display: flex;
    align-items: center !important;
    min-width: 400px;
}

.loadHide {
    display: none
}