.bodyctn {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    margin-top: 60px;
    z-index: 99
}

.bodyctn>div {
    width: 100%
}

.searchCtn {
    padding: 6px 0px;
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, .02);
    z-index: 99;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border: 1px solid #ffffff14
}

.MuiInputBase-root {
    caret-color: white !important;
}

.root_input>div {
    color: aliceblue !important
}

.si {
    color: aliceblue;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #fa6e9d;
    padding: 12px;
    position: relative;
    right: 1px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* border-left: 1px solid #ffffff2e; */
}

.inp {
    width: 100%;
    color: aliceblue !important
}

.fctrl {
    border-left: 1px solid #ffffff14;
    padding: 6px !important;
    width: 111px;
    margin: 0;
}

.fctrl>div {
    color: aliceblue !important;
    font-style: normal !important;
    border-bottom: none;
}

.fctrl>div>svg {
    color: aliceblue !important;
}

.titleTable {
    display: flex;
    width: 100%;
    padding: 40px 40px 0px 40px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contentTable {
    line-height: normal;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(211, 223, 223);
}

.hide {
    display: none !important;
}

.tableCtn {
    display: flex;
    padding: 20px 40px 40px 40px;
    position: relative;
    z-index: 99;
    min-height: 488px;
    justify-content: center;
}